[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
flask = "*"
requests = "*"
ipython = "*"
giphy-client = "*"

[requires]
python_version = "3.8"

[dev-packages]
